# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
dist/
build/
output/

# Optional npm cache directory
.npm
.cache

# Output of 'npm pack'
*.tgz

# Environment variables file
configs/config.json

# Sublime editor files
*.sublime-workspace
*.sublime-project

# Jetbrains editor files
.idea

# Vscode editor files
.vscode

# Other
.DS_Store
.DS_Store?
._*
*.swp
*~
.project
.nvm-version
.settings
thumbs.db
Thumbs.db

.history/**

# Test Coverage
coverage


# TODO: add the following line when we implement CI https://myria.atlassian.net/browse/MC-85
# configs/certs